@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: italic;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: italic;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

body {
    font-family: "PT Sans";
    font-size: 18px;
    line-height: 21px;
    color: #242424;
    background-color: #F2F2F2;
}

/*Хэдер*/
.page-header {
    color: #000000;
    background-color: #FFFFFF;

}

/*Ссылки в навигации хэдера*/
.navigation-link {
    color: inherit;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
}

/*Хиро блок*/
.hero {
   background-image: url("../images/hero-background.jpg");
   background-repeat: no-repeat;
   background-color: #82B3D3;
}

/*Векторное изображение Welcome to Sedona*/
.welcome-image {
    text-align: center;
}

/*Кнопка поиска*/
.navigation-user li:nth-child(1) {
    background-image: url("../images/search-icon.svg");
    background-repeat: no-repeat;
}

/*Избранное*/
.navigation-user li:nth-child(2) {
    background-image: url("../images/heart-icon.svg");
    background-repeat: no-repeat;
}

/*Всего в избранном (число на зеленом фоне)*/
.favourites-number {
    background-color: #7DB54F;
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 10px;
    line-height: 20px;
    text-align: center;
    width: 20px;
    height: 20px;
}

/*Кнопка ХОЧУ СЮДА*/
.navigation-user li:nth-child(3) {
    background-color: #756157;
    padding: 8px 50px;
    width: 160px;
    height: 36px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }



/*Секция со списком преимуществ*/
.advantages{
    background-color: #FFFFFF;
}

/*Первый параграф*/
.main-row {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

/*Второй параграф*/
.secondary-row {
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    text-align: center;
}


/*Список преимуществ*/
.advantages-item {
    background-color: rgba(130, 179, 211, 1);
    color: #ffffff;
    width: 400px;
    height: 385px;
}

.advantages-item-square,
.advantages-item-tourists {
    background-color: rgba(131, 179, 211, 0.12);
    color: #000000;
}

.advantages-item-road {
    background-color: rgba(131, 179, 211, 0.2);
    color: #000000;
}


/*Заголовок в списке преимуществ*/
.advantages-title,
.service-title{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

/*Секция с предложением приехать в Седону и сервисом*/
.services {
    background-color: #FFFFFF;
}

.service-list li:nth-last-child(1),
.service-list li:nth-last-child(3) {
    background-color: rgba(131, 179, 211, 0.12);
}

/*Иконка дома*/
.service-list-item-logo-house {
    background-image: url("../images/service-house.svg");
    width: 75px;
    height: 72px;
}

/*Иконка еды*/
.service-list-item-logo-food {
    background-image: url("../images/service-food.svg");
    width: 74px;
    height: 70px;
}

/*Иконка подарка*/
.service-list-item-logo-gift {
    background-image: url("../images/service-gift.svg");
    width: 64px;
    height: 76px;
}

/*Блок для поиска гостиницы*/
.hotel-search {
    background-color: #FFFFFF;
}


/*Кнопка. Общие стили.*/
.button {
    color:#FFFFFF;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
}


/*Кнопка поиска отеля*/
.hotel-search button {
    background-color: #756157;
    font-size: 20px;
    line-height: 36px;
}

/*Блок для подписки на рассылку*/
.newsletter {
    background-image: url("../images/newsletter-background.jpg");
    background-color: #82B3D3;
    width: 1200px;
    height: 358px;
    background-repeat: no-repeat;
    color: #FFFFFF;
}

/*input для ввода емейла*/
.user-email {
    width: 452px;
    height: 52px;
    color: #000000;
    background-color: #F2F2F2;

}







/*Кнопка "Подписаться*/
.newsletter button {
    background-color: #82B3D3;
    color: #FFFFFF;
    width: 232px;
    height: 52px;
    text-transform: uppercase;
    font-family: "PT Sans";
    font-weight: 700;
    border: none;
    border-radius: 0 4px 4px 0;
}

/*Футер*/
.page-footer {
    color: #000000;
    background-color: #FFFFFF;
}

/*Первый элемент в списке соц сетей. ВК*/
.footer-social-list li:nth-child(1){
    background-image: url("../images/vk-icon.svg");
    width: 24px;
    height: 14px;
}

/*Второй элемент в списке соц сетей. Телеграм*/
.footer-social-list li:nth-child(2){
    background-image: url("../images/telergram-icon.svg");
    width: 18px;
    height: 15px;
}

/*Третий элемент в списке соц сетей. Ютуб*/
.footer-social-list li:nth-child(3){
    background-image: url("../images/youtube-icon.svg");
    width: 22px;
    height: 17px;
}

/*Телефон*/
.contact-phone {
    font-size: 40px;
    line-height: 40px;
    color: #000000;

}

.inner-header {
    color: #FFFFFF;

    background-image: url("../images/catalog-background.jpg");
    background-repeat: no-repeat;
    background-color: #82B3D3;
    width: 1200px;
    height: 412px;
}

/*Хлебные крошки на странице каталога*/
.breadcrumbs-link {
    color: #FFFFFF;
}

/*Основная часть каталога*/
.catalog {
    background-color: #FFFFFF;
    color: #000000;
}

/*О.servise-description
{

}*/
